In [22]:
import cv2
import pandas as pd

In [5]:
img = cv2.imread('caracteres/0.png', 0)
img

array([[255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       ...,
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255]], dtype=uint8)

In [ ]:
imgs = list()
for i in range(500):
    img = cv2.imread(f'caracteres/{i}.png', 0)
    img = img / 255.0
    img = img.flatten()
    imgs.append(img)
    print(i)

In [32]:
len(imgs)

500

In [14]:
img = img.flatten()

In [17]:
type(img)

numpy.ndarray

In [18]:
colummns = [f'p{i}' for i in range(1400)]

In [33]:
df = pd.DataFrame(imgs, columns = colummns)

In [35]:
df.tail()

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p1390,p1391,p1392,p1393,p1394,p1395,p1396,p1397,p1398,p1399
495,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
496,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
497,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
498,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
499,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [36]:
df.to_csv('caracteres.csv', index=False)